/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'Source Sans Pro', sans-serif;
	src: url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
}

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}

button, summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-main:#111;
	--color-background:#eee;
  --color-main-text:#ffffff;
  --color-3d-text:#919191;
  --color-h1-background:#355070;
  --color-ul-background:#f20089;
  --color-text-shadow: rgba(16,16,16,0.4);
  --color-menu-background: #7209b7;
  --color-save-button: #023e8a;
  --color-remove-button: #B24C63;
}

@media (prefers-color-scheme: dark) {
	:root {
    --color-main:rgb(255, 255, 255);
    --color-background:rgb(89, 89, 89);
    --color-main-text:#ffffff;
    --color-3d-text:#919191;
    --color-h1-background:#5a789d;
    --color-ul-background:#f482c2;
    --color-text-shadow: rgba(16,16,16,0.4);
    --color-menu-background: #763c9d;
    --color-save-button: #25579a;
    --color-remove-button: #b63956;
	}
}

/****************/
/* Mijn STYLING */
/****************/
body {
	font-family: 'Source Sans Pro', sans-serif;
  color:var(--color-main);
  background-color:var(--color-background);
  overflow-y: auto;
}

/* Titel "useless facts" */
h1 {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 700;
  color: var(--color-main-text);
  text-align: center;
  transition: 0.5s;
  background-color: var(--color-h1-background);
  height: 1.5em;
}

h1:hover {
  text-shadow: 
    1px 1px  var(--color-3d-text),
    1px 2px  var(--color-3d-text),
    1px 3px  var(--color-3d-text),
    1px 4px  var(--color-3d-text),
    1px 5px  var(--color-3d-text),
    1px 6px  var(--color-3d-text),
      1px 16px 6px var(--color-text-shadow),
      1px 18px 10px var(--color-text-shadow),
      1px 23px 35px var(--color-text-shadow),
      1px 25px 60px var(--color-text-shadow);
}

/* Titel "opgeslagen favorieten" */
h2 {
  font-size: 0.9em;
  font-weight: 500;
  padding: 1em;
}

/* Api lijst*/
ul.api {
  list-style: none;
  background-color: var(--color-ul-background);
  padding: 1.5em;
  text-align: center;
  position: absolute;
  top: 35%;
  color: var(--color-main-text);
  width: 100%;
}

/* Api lijst empty state */
ul.api:empty::after {
	content:"Press the wand to start, add your favorite facts to your wishlist with the save button!";
}

/* Tekst in de Api */
p.textApi {
  font-size: 1em;
}

/* Toverhoed */
body > img {
  width: 20em;
  position: fixed;
  bottom: 4em;
  left: calc(50% - 10em);
}

/* Toverstok */
button.toverstok {
  position:fixed;
  bottom: 7em;
  left: calc(50% - 17em);
	appearance:none;
	border:none;
  background: transparent;
}

button.toverstok:focus {
  outline: 0.1em solid #ffad32;
  outline-offset: 0.1em;
}

button.toverstok > img{
  width: 9em;
  animation: animationToverstok 1s infinite linear alternate;
  transform-origin: left bottom;
}

@keyframes animationToverstok {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.1);
	}
}

/* Favorieten menu */
section.favorieten {
  position: fixed;
  width: 100%;
  height: 85%;
  bottom:0;
  right: 0;
  background-color: var(--color-menu-background);
  transform: translateY(100%);
  font-size: 2em;
  color: var(--color-main-text);
  text-align: center;

  transition: 1s;
}

.favorieten {
  overflow-y: scroll;
}

section.favorieten.toonMenu {
  transform: translateY(0);
}

button.star {
  position: fixed;
  z-index: 100;
  right: 1.5em;
  bottom: 1.5em;
  border: none;
  background: none;
}

button.star:focus {
  outline: 0.1em solid #ffad32;
  outline-offset: 0.1em;
}

button.star img{
  width: 4em;
}

/* Save button */
.addToFaves {
  font-size: 1em;
  position: fixed;
  left: 1.5em;
  bottom: 1.5em;
  border: none;
  border-radius: 0.5em;
  background: var(--color-save-button);
  color: var(--color-main-text);
  width: 5em;
  height: 2em;
}

.addToFaves:focus {
  outline: 0.1em solid #ffad32;
  outline-offset: 0.1em;
}

.addToFaves:active {
  animation: animationSaveBtn 2s;
  transition: 1s;
}

@keyframes animationSaveBtn {
	0%, 100% {
		background-color: green;
  }
}

/* Tekst in favorieten menu */
li.favItem {
  font-size: 0.7em;
  padding: 0.5em 1em;
}

/* Remove button */
.favItem button{
  background-color: var(--color-remove-button);
  border: none;
  font-size: 0.7em;
  border-radius: 0.1em;
  color: var(--color-main-text);
  margin-left: 0.5em;
  height: 1.5em;
  width: 5em;
}

/* Feedback na save button */
h3 {
  display: none;
}

.mystyle {
  display: block;
  text-align: center;
  width: 100%;
  color: var(--color-main);
  font-size: 1em;
}

/* Responsive */
@media (min-width:38em) {
  h1{
    font-size: 4em;
  }
  ul.api {
    font-size: 1.5em;
  }
  button.star img {
    width: 8em;
  }
  button.addToFaves {
    font-size: 1.5em;
  }
  section.favorieten {
    height:67%;
  }
}

@media (min-width:48em) {
  h1{
    font-size: 5em;
  }
  ul.api {
    font-size: 1.8em;
  }
  button.star img {
    width: 8.5em;
  }
  button.addToFaves {
    font-size: 1.5em;
  }
  section.favorieten {
    transform: translateX(100%);
  }
}

@media (min-width:60em) {
  h1{
    font-size: 6em;
  }
  ul.api {
    font-size: 2em;
    display: inline-block;
    width: 75%;
  }
  button.star img {
    display: none;
  }
  button.addToFaves {
    font-size: 2em;
  }
  .mystyle {
    width: 75%;
  }
  section.favorieten {
		position: fixed;
    width: 25%;
    height: calc(100% - 4.5em);
    transform:none;
  }
}